version: '3.5'

services:
  postgresql:
    image: "postgres:14.2"
    container_name: "keycloak_db"
    restart: always
    environment:
      - 'POSTGRES_USER={{ keycloak.db.user }}'
      - 'POSTGRES_DB={{ keycloak.db.db_name }}'
      - 'POSTGRES_PASSWORD={{ keycloak.db.password }}'
    volumes:
      - 'postgresql_data:/var/lib/postgresql/data'
  keycloak:
    image: keycloak/keycloak:nightly
    container_name: "keycloak"
    depends_on:
      - postgresql
    ports:
      - "127.0.0.1:8080:8080"
    command: start-dev
    environment:
      - 'KEYCLOAK_CREATE_ADMIN_USER=true'
      - 'KEYCLOAK_ADMIN={{ keycloak.admin_user }}'
      - 'KEYCLOAK_ADMIN_PASSWORD={{ keycloak_admin_password }}'
      - 'KC_DB=postgres'
      - 'KC_DB_URL_HOST=postgresql'
      - 'KC_DB_URL_PORT=5432'
      - 'KC_DB_URL_DATABASE={{ keycloak.db.db_name }}'
      - 'KC_DB_USERNAME={{ keycloak.db.user }}'
      - 'KC_DB_PASSWORD={{ keycloak.db.password }}'
      - 'KC_HOSTNAME=https://{{ keycloak.domain }}'
      - 'KC_HOSTNAME_ADMIN=https://{{ keycloak.domain }}'

volumes:
  postgresql_data:
    driver: local
